<!DOCTYPE html>
<html>
<% include ../include/head.html %>
</head>
<body>
<% include ../include/navbar.html %>
<div id="main">
  <div id="content">
    <div class="panel">
      <div class="header">
        <ul class="breadcrumb">
          <li><a href="/console">主页</a><span class="divider">/</span></li>
          <li class="active">登陆</li>
        </ul>
      </div>
      <div class="inner">
        <% if(typeof(error) !== 'undefined' && error){ %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <strong><%= error %></strong>
        </div>
        <% } %>
        <% if(typeof(success) !== 'undefined' && success){ %>
        <div class="alert alert-success">
          <strong><%= success %></strong>
        </div>
        <% } else { %>
        <form id="signup_form" class="form-horizontal" action="/console/login" method="post">
          <div class="control-group">
            <label class="control-label" for="name">用户名</label>

            <div class="controls">
              <% if(typeof(name) === 'undefined') name = '' %>
              <input class="input-xlarge" id="name" name="name" size="30" type="text" value="<%= name %>"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="pass">密码</label>

            <div class="controls">
              <input class="input-xlarge" id="pass" name="pass" size="30" type="password"/>
            </div>
          </div>

          <div class="form-actions">
            <input type="submit" class="btn" value="登陆"/>
          </div>
        </form>
        <% } %>
      </div>
    </div>
  </div>
</div>
<% include ../include/footer.html %>
</body>
</html>
