<!DOCTYPE html>
<html>
<head lang="en">
  <% include ../include/head.html %>
</head>
<body>
<% include ../include/navbar.html %>
<div id="main">
  <% include ../include/sidebar.html %>
  <div id="content">
    <div class="panel">
      <div class="header">
        <ul class="breadcrumb">
          <li><a href="/console">主页</a><span class="divider">/</span></li>
          <li class="active">广告配置</li>
        </ul>
      </div>
      <div class="inner">
        <% if(typeof(error) !== 'undefined' && error){ %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <strong><%= error %></strong>
        </div>
        <% } %>

        <% if(typeof(action) !== 'undefined' && action === 'edit') { %>
        <form class="form-horizontal" action="/console/ad/edit/<%= ad._id %>" method="post" enctype="multipart/form-data">
        <% } else {%>
        <form class="form-horizontal" action="/console/ad/create" method="post" enctype="multipart/form-data">
        <% } %>
          <div class="control-group">
            <label class="control-label" for="name">name</label>
            <div class="controls">
              <input class="input-xlarge" id="name" name="name" size="30" type="text"
                     value="<%= typeof(ad) !== 'undefined' && ad.name || '' %>"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="des">des</label>

            <div class="controls">
              <input class="input-xlarge" id="des" name="des" size="30" type="text"
                     value="<%= typeof(ad) !== 'undefined' && ad.des || '' %>"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="imgName">imgName</label>

            <div class="controls">
              <input class="input-xlarge" id="imgName" name="imgName" size="30" type="text"
                     value="<%= typeof(ad) !== 'undefined' && ad.imgName || '' %>"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="img">img</label>
            <div class="controls">
              <input id="img" name="img" type="file" style="display:none">
              <input class="input-xlarge" id="imgCover" size="30" type="text" readonly
                     value="<%= typeof(ad) !== 'undefined' && ad.img || '' %>" >
              <a class="btn" onclick="$('input[id=img]').click();">Browse</a>

            </div>
          </div>

          <% if(typeof(ad) !== 'undefined' && ad.img) { %>
          <div class="control-group">
            <div class="controls">
              <img width="300px" src="<%= '/uploads/' + ad.img %>"/>
            </div>
          </div>
          <% } %>

          <div class="control-group">
            <label class="control-label" for="url">url</label>
            <div class="controls">
              <input class="input-xlarge" id="url" name="url" size="30" type="url"
                     value="<%= typeof(ad) !== 'undefined' && ad.url || '' %>"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="weight">weight</label>
            <div class="controls">
              <input class="input-xlarge" id="weight" name="weight" size="30" type="number"
                     value="<%= typeof(ad) !== 'undefined' && ad.weight || '' %>"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="isS">isShow</label>
            <div class="controls">
              <label class="checkbox">
                <% if(typeof(ad) !== 'undefined' && !ad.isS) { %>
                <input id="isS" name="isS" type="checkbox"> 显示
                <% } else {%>
                <input id="isS" name="isS" type="checkbox" checked> 显示
                <% } %>
              </label>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="isA">isAuto</label>
            <div class="controls">
              <label class="checkbox">
                <% if(typeof(ad) !== 'undefined' && !ad.isA) { %>
                <input id="isA" name="isA" type="checkbox"> 自动
                <% } else {%>
                <input id="isA" name="isA" type="checkbox" checked> 自动
                <% } %>
              </label>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="disable">disable</label>
            <div class="controls">
              <label class="checkbox">
                <% if(typeof(ad) !== 'undefined' && ad.disable) { %>
                <input id="disable" name="disable" type="checkbox" checked> 禁用
                <% } else {%>
                <input id="disable" name="disable" type="checkbox"> 禁用
                <% } %>
              </label>
            </div>
          </div>

          <div class="form-actions">
            <input type="submit" class="btn btn-success" value="提交"/>
            <input type="reset" class="btn" value="重置"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% include ../include/footer.html %>

<script type="text/javascript">
  $('input[id=img]').change(function () {
    $('#imgCover').val($(this).val());
  });
</script>
</body>
</html>
