<!DOCTYPE html>
<html>
<head lang="en">
    <% include include/head.html %>
</head>
<body>
<% include include/navbar.html %>
<div id="main">
    <% include include/sidebar.html %>
    <div id="content">
        <div class="panel">
            <div class="header">
                <ul class="breadcrumb">
                    <li class="active">主页</li>
                </ul>
            </div>
            <div class="inner">
                <img src="http://s.cn.bing.net/az/hprichbg/rb/BonifacioCliffs_ZH-CN10939302737_1920x1080.jpg">
            </div>
        </div>
    </div>
</div>
<% include include/footer.html %>
</body>
</html>
