<div id='sidebar'>
  <div class='panel'>

    <div class='header'>
      <span class='col_fade'>广告信息</span>
    </div>
    <div class='inner'>
      <ol>
        <li><a href="/console/ad">广告列表</a></li>
        <li><a href="/console/group">渠道列表</a></li>
      </ol>
    </div>

    <div class='header'>
      <span class='col_fade'>历史统计</span>
    </div>
    <div class='inner'>
      <ol>
        <li><a href="/console/sta/hour/show">小时统计(展示)</a></li>
        <li><a href="/console/sta/hour/click">小时统计(点击)</a></li>
        <li><a href="/console/sta/day/show">按天统计(展示)</a></li>
        <li><a href="/console/sta/day/click">按天统计(点击)</a></li>
      </ol>
    </div>

    <div class='header'>
      <span class='col_fade'>实时统计</span>
    </div>
    <div class='inner'>
      <ol>
        <li><a href="/console/sta/realtime/show">展示统计</a></li>
        <li><a href="/console/sta/realtime/click">点击统计</a></li>
      </ol>
    </div>


    <div class='header'>
      <span class='col_fade'>老数据</span>
    </div>
    <div class='inner'>
      <ol>
        <li><a href="/console/sta_hour">小时统计</a></li>
        <li><a href="/console/sta_day">按天统计</a></li>
      </ol>
    </div>
  </div>
</div>
