<!DOCTYPE html>
<html>
<head lang="en">
  <% include ../include/head.html %>
</head>
<body>
<% include ../include/navbar.html %>
<div id="main">
  <% include ../include/sidebar.html %>
  <div id="content">
    <div class="panel">
      <div class="header">
        <ul class="breadcrumb">
          <li><a href="/console">主页</a><span class="divider">/</span></li>
          <li class="active">渠道列表</li>
          <li class="active"><%= '<script src="http://d1.mobaders.com/s/b/__id__"></script>' %></li>
          <li class="pull-right"><a class="btn-link" href="/console/group/create"><span>添加</span></a></li>
        </ul>
      </div>
      <div class="inner">
        <table class="table table-bordered">
          <tr>
            <th width="70">name</th>
            <th width="50">des</th>
            <th width="80">cnzzId</th>
            <th width="40">ads</th>
            <th width="40">ads1</th>
            <th width="45">weight</th>
            <th width="10">S</th>
            <th width="10">A</th>
            <th width="10">W</th>
            <th width="10">D</th>
            <th width="150">id</th>
            <th width="40">opt</th>
          </tr>
          <% for(var i = 0; i < items.length; i++){ %>
          <tr>
            <td><span><%= items[i].name %></span></td>
            <td><span><%= items[i].des %></span></td>
            <td><span><%= items[i].cnzz_id %></span></td>
            <td><span><%= items[i].ads.length %></span></td>
            <td><span><%= items[i].ads1.length %></span></td>
            <td><span><%= items[i].weight %></span></td>
            <% if(items[i].isS){ %> <td><span>T</span></td> <% } else { %> <td><span style="color:red;">F</span></td> <% } %>
            <% if(items[i].isA){ %> <td><span>T</span></td> <% } else { %> <td><span style="color:red;">F</span></td> <% } %>
            <% if(!items[i].isWX){ %> <td><span>F</span></td> <% } else { %> <td><span style="color:blue;">T</span></td> <% } %>
            <% if(!items[i].disable){ %> <td><span>F</span></td> <% } else { %> <td><span style="color:red;">T</span></td> <% } %>
            <td><span><%= items[i].id %></span></td>
            <td>
              <a class="btn-link" href="/console/group/edit/<%= items[i]._id %>">编辑</a>
            </td>
          </tr>
          <% } %>
        </table>

        <div class='pagination' currentPage='<%= page.currentPage %>'>
          <ul>
            <% var base_url = page.base + (page.base.indexOf('?') < 0 ? '?' : '&') + 'page='; %>
            <% if (page.currentPage == 1) { %>
            <li class='disabled'><a>«</a></li>
            <% } else { %>
            <li><a href="<%= base_url %>1">«</a></li>
            <% } %>

            <%
            var pageStart = page.currentPage - 2 > 0 ? page.currentPage - 2 : 1;
            var pageEnd = pageStart + 4 >= page.total ? page.total : pageStart + 4;
            %>

            <% if (pageStart > 1) { %>
            <li><a>...</a></li>
            <% } %>

            <% for(var i = pageStart; i <= pageEnd; i++) { %>
            <% if (i == page.currentPage) { %>
            <li class='disabled'><a><%= i %></a></li>
            <% } else { %>
            <li><a href='<%= base_url + i %>'><%= i %></a></li>
            <% } %>
            <% } %>

            <% if (pageEnd < page.total ) { %>
            <li><a>...</a></li>
            <% } %>

            <% if (page.currentPage == page.total) { %>
            <li class='disabled'><a>»</a></li>
            <% } else { %>
            <li><a href='<%= base_url + page.total %>'>»</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../include/footer.html %>
</body>
</html>
